@media only screen and (max-width: 768px) {
  .navRes {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navLinks {
    flex: 2;
  }
  .navLeft {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .navLinks {
    flex: none;
  }
  .navUserbar {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
