@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100;1,300&family=Poppins:ital,wght@0,100;0,300;1,100&display=swap");

.search {
  position: absolute;
  width: 600px;
  height: 80px;
  padding: 20px;
  left: 480px;
  top: 350px;
  color: gray;
  background: #ffffff;
  border: 3px solid #727272;
  box-sizing: border-box;
  border-radius: 20px;
}

.btn {
  position: absolute;
  width: 60px;
  height: 53px;
  left: 1090px;
  top: 368px;
  border-radius: 50%;
  background: #000000;
}

.card {
  position: absolute;
  width: 448px;
  height: 507px;
  left: 100px;
  top: 1092px;
  background: #ffffff;
  border-radius: 12px;
}

.bty {
  margin: 18px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #20e58f;
  box-sizing: border-box;
  border: black;
  color: white;
  border-radius: 8px;
}

.nftcards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  align-items: center;
}

.nftc {
  cursor: pointer;
  /* background-color: #e6a582; */
  width: 330px;
  height: 430px;
  padding: 25px;
  margin-top: 2.5%;
  margin-left: 1%;
  justify-content: center;
  align-items: center;
}

.nftc:hover {
  transform: scale(1.05);
  transition: 0.9s;
}

.head {
  color: white;
  font-weight: 500;
  font-size: 33px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

.isc {
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.p {
  font-weight: 400;
  font-size: 26px;
  color: white;
  font-family: "Poppins", sans-serif;
}
.productCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2em;
}
@media screen and (max-width: 1650px) {
  .nftcards {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

@media screen and (max-width: 1150px) {
  .nftcards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  .productCards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
}
@media screen and (max-width: 786px) {
  .nftcards {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    place-items: center;
  }
  .productCards {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
}

@media screen and (max-width: 640px) {
  .nftcards {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    place-items: center;
    margin-right: 20px;
  }
  .productCards {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 50px;
    place-items: center;
  }
  .nftc {
    width: 300px;
    height: 430px;
  }
}
