@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Poppins:wght@100&display=swap");

.searchbox {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 0.02em;
  margin-top: 2%;
  color: rgba(0, 0, 0, 0.71);
}

.box {
  width: 60%;
  margin-top: 1%;
  font-size: 28px;
  text-align: center;
  background: #ffffff;
  border: 3px solid #004e16;
  border-radius: 10px;
  padding: 0 10px;
}

.whole {
  background-color: #f4f8f6;
}

.place {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
}

.login {
  display: flex;
  justify-content: center;
  font-size: 28px;
  background-color: white;
  width: 70%;
  padding: 3%;
  align-items: center;
  text-align: center;
  align-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 150px;
  height: 66px;
  margin-top: 3%;
  left: 1000px;
  top: 447px;
  font-size: 30px;
  background: #d7b12a;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
.btn:hover {
  background: #004e16;
}

.ks {
  margin-top: 4%;
  border-radius: 12px;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
}

.km {
  text-align: center;
  border-radius: 12px;
  border: 2px solid black;
  padding: 10px;
}

.signup {
  width: 100%;
  height: 688px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  background: linear-gradient(269.73deg, #d7b12a 0.22%, #d79c2a 99.75%);
}

.wrap {
  font-size: 38px;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.btn1 {
  width: 150px;
  height: 66px;
  margin-top: 3%;
  left: 1000px;
  top: 447px;
  font-size: 30px;
  color: black;
  background: #ffffff;
  border-radius: 12px;
  cursor: pointer;
}
.btn1:hover {
  background: #d2fdde;
}

@media screen and (max-width: 770px) {
  .login {
    width: 100%;
  }
  .place {
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 60%;
  }
}

@media screen and (max-width: 680px) {
  .box {
    width: 70%;
  }
}

@media screen and (min-width: 300px) {
  .km {
    width: 100%;
  }
  .ks {
    width: 100%;
  }
}
