@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&family=Poppins:wght@100&display=swap");

.nvs {
  text-align: center;
  font-size: 30px;
  margin-top: -3%;
  font-family: "Poppins", sans-serif;
}

.vvs {
  background: rgba(238, 245, 242, 0.66);
}

.grids {
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 15%;
}

.bod {
  border: 1px solid rgb(42, 42, 42);
}

@media screen and (max-width: 1024px) {
  .grids {
    flex-direction: column;
    align-items: center;
  }
  .nvs {
    margin-bottom: 20px;
  }
}
